
/****** BASE CONTENT LAYOUT ******/

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
}

h1{
  font-weight: 300;
}



.employee-list{
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: repeat(4, 20%);
  grid-gap: 0px;
}


ul {
  list-style-type: none;
}


/****** CARD CONTENT LAYOUT ******/


img{
  position: absolute;
  display: inline;
  padding-top: 25px;
  padding-left: 15px;
  display: block;
  margin: auto;
  width: 24%;
  height: 60%;
  border-radius: 5px;
}

li{
  position: relative;
  width: 380px;
  height: 150px;
  border-style: solid;
  border-width: thin;
  border-color: #d9d9d9;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 12px;
}




/****** TEXT ******/

.title{
  margin-top: 100px;
  padding-left: 40px;
}

p{
  margin: auto;
}


p[class='email'],
p[class='city'] {
 color: #8c8c8c;
 padding-top: 5px;
 font-size: 0.8em;
}

.info{
  position: absolute;
  display: inline-block;
  padding-left: 35px;
  left: 100px;
  padding-top: 35px;
}


#overlay{
  background: rgba(0,0,0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}


/****** MODAL ******/

#modal{
position: relative;
margin-left: 32em;
margin-top: 10em;
border-radius: 10px;
background-color: white;
height: 550px;
width: 450px;
text-align: center;
}


#modal-image{
  position: absolute;
  margin-top: 1em;
  width: 9em;
  height: 9em;
  text-align: center;
}

#basicInfo{
  position: absolute;
  margin-top: 11.5em;
  text-align: center;
  padding: auto;
  font-size: 1em;
}

hr{
  color: #8c8c8c;
  margin-top: 1.5em;
  text-align: center;
}


#secondaryInfo{
  position: absolute;
  color: #8c8c8c;
  margin-top: 20em;
  text-align: center;
}

.secondary{
  color: #8c8c8c;
}

.tertiary{
  padding-top: 0.5em;
}
