
/********************** BASE CONTENT LAYOUT **********************/

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
}

h1{
  font-weight: 300;
}


.employee-list{
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-template-rows: repeat(4, 20%);
  grid-gap: 0.5em;
}

ul {
  list-style-type: none;
}

img{
  width: 26%;
  height: 65%;
  border-radius: 50%;
}

button{
 height: 2em;
 width: 2em;
}


/********************** CARD CONTENT LAYOUT **********************/


li{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 12em;
  align-items: flex-start;
  justify-content: space-around;
  border-style: solid;
  border-width: thin;
  border-color: #d9d9d9;
  border-radius: 0.5em;
  background-color: white;
}


.list-img{
  position: absolute;
  flex-grow: 2;
  display: inline;
  margin-left: -15em;
  margin-top: 2em;
}

/********************** TEXT **********************/

.title{
  display: inline-block;
  margin-top: 6em;;
  padding-left: 2.2em;
}

p{
  margin-left: 2em;
}


p[class='name']{
  margin-top: 1em;
}


p[class='email'],
p[class='city'] {
 color: #8c8c8c;
 font-size: 0.8em;
}

.info{
  flex-grow: 1;
  position: absolute;
  display: inline-block;
  padding-left: 35px;
  left: 100px;
  padding-top: 1.6em;
}


/********************** MODAL AND OVERLAY **********************/

#overlay{
  background: rgba(0,0,0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

#modal{
display: flex;
position: relative;
margin-left: 32em;
margin-top: 10em;
border-radius: 10px;
background-color: white;
height: 550px;
width: 450px;
text-align: center;
}


#prev,
#next{
  margin-top: 38em;
}

#close{
  margin-left: auto;
}

#prev{
  margin-left: 13em;
}

#next{
  margin-left: 3em;
}

#basicInfo,
#secondaryInfo{
  margin: auto;
}

#modal-image{
  position: absolute;
  width: 9em;
  height: 9em;
  margin-left: 9em;
  margin-top: 2em;
}

#basicInfo{
  position: absolute;
  margin-top: 11.5em;
  margin-left: 4em;
  text-align: center;
  padding: auto;
  font-size: 1em;
}

hr{
  color: #8c8c8c;
  margin: auto;
  text-align: center;
  margin-left: 5em;
}


#secondaryInfo{
  position: absolute;
  color: #8c8c8c;
  margin-top: 20em;
  text-align: center;
  margin-left: 2.5em;
}

.secondary{
  color: #8c8c8c;
}

.tertiary{
  padding-top: 0.5em;
}


/********************** SEARCH BAR **********************/


#search-bar{
  margin-left: 51em;
  display: inline;
  font-size: 1.1em;
  padding: 5px;
  height: 25px;
  border-radius: 5px;
}
