
/********************** BASE CONTENT LAYOUT **********************/

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
}

h1{
  font-weight: 300;
}


.employee-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 500px));
  grid-template-rows: repeat(12, minmax(250px, 260px));
  grid-gap: 0.5em;
}

ul {
  list-style-type: none;
}

img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

button{
 height: 2em;
 width: 2em;
}


/********************** CARD CONTENT LAYOUT **********************/


li{
  grid-area: "eitem";
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  border-style: solid;
  border-width: thin;
  border-color: #d9d9d9;
  border-radius: 0.5em;
  background-color: white;
}


.list-img{
  position: absolute;
  display: inline;
  margin-top: 50px;
  margin-left: 30px;
}

/********************** TEXT **********************/

.title{
  display: inline-block;
  margin-top: 6em;;
  padding-left: 2.2em;
  margin-right: 2.5em;
}

p{
  margin-left: 2em;
}


p[class='name']{
}


p[class='email'],
p[class='city'] {
 color: #8c8c8c;
}

.info{
  position: absolute;
  display: inline-block;
  padding-left: 200px;
  padding-top: 60px;
}


/********************** MODAL AND OVERLAY **********************/

#overlay{
  background: rgba(0,0,0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
}

#modal{
display: flex;
position: relative;
align-items: flex-start;
justify-content: center;
margin-left: 40%;
margin-top: 10em;
border-radius: 10px;
background-color: white;
height: 550px;
width: 450px;
text-align: center;
}


#prev,
#next{
  margin-top: 38em;
}

#close{
  margin-left: auto;
}

#prev{
  margin-left: 10.5em;
}

#next{
  margin-left:auto;
}

#basicInfo,
#secondaryInfo{
}

#modal-image{
  position: absolute;
  width: 9em;
  height: 9em;
  margin-top: 1em;
}

#basicInfo{
  position: absolute;
  margin-top: 11.5em;
  padding: auto;
  font-size: 1em;
  text-align: center;
  margin-left: -1em;
}

hr{
  color: #8c8c8c;
  margin: auto;
  text-align: center;
  margin-left: 2em;
}


#secondaryInfo{
  position: absolute;
  color: #8c8c8c;
  margin-top: 20em;
  text-align: center;
  margin-left: -1em;
}

.secondary{
  color: #8c8c8c;
}

.tertiary{
  padding-top: 0.5em;
}


/********************** SEARCH BAR **********************/


#search-bar{
  width: 200px;
  margin-left: 40px;
  display: inline;
  font-size: 1.1em;
  padding: 5px;
  height: 25px;
  border-radius: 5px;
}
